@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
    * { font-family: 'Inter var', sans-serif; }
}
:root {
    --black-dark: #292B35;
    --black-main: #575767;
    --black-light: #B9B9BE;

    --main-color: #1294F2;
    --destructive-color: 219, 40, 40;
    --bg-main-color: #F8F8F8;
    --bg-sub-color: rgba(0, 0, 0, 0.06);

    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-main-color);
}

hr {
    margin: 0;
    border: solid 1px rgba(0, 0, 0, 0.03);
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}