@import url('https://rsms.me/inter/inter.css');
* { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    * { font-family: 'Inter var', sans-serif; }
}

:root {
    --black-dark: #292B35;
    --black-main: #575767;
    --black-light: #B9B9BE;

    --main-color: #1294F2;
    --bg-main-color: #F8F8F8;
    --bg-sub-color: rgba(0, 0, 0, 0.06);

    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
}

hr {
    margin: 0;
    border: solid 1px rgba(0, 0, 0, 0.03);
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.fixed-rb {
    position: fixed;
    right: 16px;
    bottom: 40px;
}

.absolute-b {
    position: absolute;
    bottom: 40px;
}